<div class=frame-parent3>
    <div class=frame-parent4>
        <div class=frame-parent4>
            <div class=frame-parent6>
                <div class=drop-parent><img alt="" class=gearsix-icon src="../../assets/Drop.svg">
                    <div class=sandra-john-60-container>Blood Sugar</div>
                </div>
                <div class=normal-wrapper>
                    <div class=normal>normal</div>
                </div>
                <div class=mg-dl-container><b>80</b> <span>mg / dL</span></div>
            </div>
            <div class=frame-parent6>
                <div class=drop-parent><img alt="" class=gearsix-icon src="../../assets/Heartbeat.svg">
                    <div class=sandra-john-60-container>Heart Rate</div>
                </div>
                <div class=high-wrapper>
                    <div class=normal>high</div>
                </div>
                <div class=mg-dl-container><b>151</b> <span>bmp</span></div>
            </div>
            <div class=frame-parent6>
                <div class=drop-parent><img alt="" class=gearsix-icon src="../../assets/Vector.svg">
                    <div class=sandra-john-60-container>Blood Pressure</div>
                </div>
                <div class=normal-wrapper>
                    <div class=normal>normal</div>
                </div>
                <div class=mg-dl-container><b>102/71</b> <span>mmhg</span></div>
            </div>
        </div>
        <div class=frame-parent9>
            <div class=health-report-parent><b class=sandra-john-60-container>Health report</b> <img alt="" class=gearsix-icon src="../../assets/three-dots/DotsThreeVertical.svg"></div>
            <div class=image-5-parent><img alt="" class=image-5-icon src="../../assets/image 5.svg">
                <div class=fitbit-2-android-watch-parent><b class=fitbit-2->Fitbit 2 - Android watch</b>
                    <div class=health-progress>Dementia monitoring V1.0</div>
                    <div class=last-updated-4>Last updated 4 hrs ago</div>
                </div>
            </div>
            <div class=walking-parent>
                <div class=walking>Walking</div>
                <div class=k-steps>10k steps</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Active Energy</div>
                <div class=k-steps>555 kcal</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Physical Effort</div>
                <div class=mets>4.4 METs</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Exercise Minutes</div>
                <div class=mets>41 min</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Resting Heart Rate</div>
                <div class=mets>60 bmp</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Stairs Climbed</div>
                <div class=mets>4 floors</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Walking Step Length</div>
                <div class=mets>51 cm</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Double Support Time</div>
                <div class=mets>33 %</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Walking Asymmetry</div>
                <div class=mets>30 %</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Body Fat Percentage</div>
                <div class=mets>43.3 %</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Body Mass Index</div>
                <div class=mets>30.5 bmi</div>
            </div>
            <div class=walking-parent>
                <div class=walking>Lean Body Mass</div>
                <div class=mets>37.63 kg</div>
            </div>
        </div>
        <div class=frame-parent10>
            <div class=health-report-parent><b class=sandra-john-60-container>Records</b> <img alt="" class=gearsix-icon src=DotsThreeVertical.svg></div>
            <div class=frame-parent11>
                <div class=dr-marsh-parent>
                    <div class=sandra-john-60-container>Dr. Marsh</div>
                    <div class=sandra-john-60-container>(cardiologist)</div>
                    <div class=normal-frame>
                        <div class=normal>normal</div>
                    </div>
                    <div class=k-steps>10k steps</div>
                </div>
                <div class=dr-marsh-parent>
                    <div class=sandra-john-60-container>Dr. Lobo</div>
                    <div class=sandra-john-60-container>(GP)</div>
                    <div class=normal-frame>
                        <div class=normal>normal</div>
                    </div>
                    <div class=k-steps><b>80</b> <span>mg / dL</span></div>
                </div>
                <div class=dr-marsh-parent>
                    <div class=sandra-john-60-container>Dr. Dannis</div>
                    <div class=high-container>
                        <div class=normal>high</div>
                    </div>
                    <div class=k-steps><b>151</b> <span>bmp</span></div>
                </div>
                <div class=dr-marsh-parent>
                    <div class=sandra-john-60-container>Heart Rate</div>
                    <div class=high-container>
                        <div class=normal>high</div>
                    </div>
                    <div class=k-steps><b>151</b> <span>bmp</span></div>
                </div>
            </div>
        </div>
        <div class=frame-parent12>
            <div class=records-group><b class=sandra-john-60-container>Records</b> <img alt="" class=gearsix-icon src="../../assets/three-dots/DotsThreeVertical.svg"></div>
            <div class=rectangle-parent>
                <div class=frame-inner></div>
                <div class=dr-name>Dr. Name</div>
                <div class=specialist>Specialist</div>
                <div class=date>Date</div>
                <div class=prescription>Prescription</div>
            </div>
            <div class=frame-parent11>
                <div class=drop-parent>
                    <div class=dr-marsh1>Dr. Marsh</div>
                    <div class=normal-wrapper2>
                        <div class=normal>normal</div>
                    </div>
                    <div class=nephrologist>Cardiologist</div>
                    <div class=july24>10 July/24</div>
                    <div class=view>View</div>
                </div>
                <div class=drop-parent>
                    <div class=dr-marsh1>Dr. Lobo</div>
                    <div class=normal-wrapper2>
                        <div class=normal>normal</div>
                    </div>
                    <div class=nephrologist>GP</div>
                    <div class=july24>10 July/24</div>
                    <div class=view>View</div>
                </div>
                <div class=drop-parent>
                    <div class=dr-marsh1>Dr. Dannis</div>
                    <div class=normal-wrapper2>
                        <div class=normal>normal</div>
                    </div>
                    <div class=nephrologist>Nephrologist</div>
                    <div class=july24>10 July/24</div>
                    <div class=view>View</div>
                </div>
            </div>
        </div>
        <div class=frame-parent14>
            <div class=health-report-parent><b class=sandra-john-60-container>Appointment History</b> <img alt="" class=gearsix-icon src=DotsThreeVertical.svg></div>
            <div class=frame-parent15>
                <div class=frame-parent16>
                    <div class=normal-wrapper5>
                        <div class=normal>normal</div>
                    </div>
                    <div class=walking>Name</div>
                    <div class=date1>Date</div>
                    <div class=sandra-john-60-container>Prescription</div>
                </div>
                <div class=line-div></div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div><img alt="" class=man-438081-960-720-icon2 src=man-438081_960_720.png>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Dr. Marsh Key</div>
                        <div class=physiotherapist>Cardiologist</div>
                    </div>
                    <div class=walking>10 Jul 24</div>
                    <div class=filetext><img alt="" class=vector-icon src=Vector.svg></div>
                </div>
                <div class=frame-child1></div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div><img alt="" class=man-438081-960-720-icon2 src=man-438081_960_720.png>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Dr. Lobo Mark</div>
                        <div class=physiotherapist>Physiotherapist</div>
                    </div>
                    <div class=walking>10 Jul 24</div>
                    <div class=filetext><img alt="" class=vector-icon src=Vector.svg></div>
                </div>
                <div class=frame-child1></div>
                <div class=man-438081-960-720-container><img alt="" class=man-438081-960-720-icon2 src=man-438081_960_720.png>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Dr. Dannis Lee</div>
                        <div class=physiotherapist>Nephrologist</div>
                    </div>
                    <div class=walking>10 Jul 24</div>
                    <div class=filetext><img alt="" class=vector-icon src=Vector.svg></div>
                </div>
            </div>
        </div>
    </div>
    <div class=frame-parent19>
        <div class=frame-parent10>
            <div class=total-alerts-parent><b class=sandra-john-60-container>Total alerts</b> <b class=b3>4</b> <img alt="" class=gearsix-icon src=DotsThreeVertical.svg></div>
            <div class=frame-parent21>
                <div class=tabs-group>
                    <div class=tabs2>
                        <div class=daily-routine-wrapper><b class=daily-routine2>Critical Alert - 1</b></div>
                        <div class=tabs-item></div>
                    </div>
                    <div class=tabs3>
                        <div class=daily-routine-wrapper>
                            <div class=daily-routine2>Notification - 3</div>
                        </div>
                        <div class=tabs-child></div>
                    </div>
                </div>
                <div class=high-heart-rate-sandras-hear-wrapper>
                    <div class=high-heart-rate-container>
                        <p class=sandra-john-60-yrs><b class=sandra-john1>High Heart Rate</b> <span></span>
                            <p class=sandra-john-60-yrs>Sandra’s heart rate rose above 121 BPM while she seemed to be inactive for 10 minutes starting at 9:59 AM.</div>
                </div>
            </div>
        </div>
        <div class=frame-parent22>
            <div class=total-alerts-group><b class=sandra-john-60-container>Total alerts</b> <b class=b3>4</b> <img alt="" class=gearsix-icon src=DotsThreeVertical.svg></div>
            <div class=tabs-container>
                <div class=tabs4>
                    <div class=daily-routine-wrapper><b class=daily-routine2>Critical Alert - 1</b></div>
                    <div class=tabs-item></div>
                </div>
                <div class=tabs5>
                    <div class=daily-routine-wrapper>
                        <div class=daily-routine2>Notification - 3</div>
                    </div>
                    <div class=tabs-child></div>
                </div>
            </div>
            <div class=frame-wrapper>
                <div class=warning-parent><img alt="" class=warning-icon src="../../assets/Warning.svg">
                    <div class=sandra-john-60-yrs-dementia-s-wrapper>
                        <div class=sandras-heart-rate-has-signif-parent><b class=please-check-on>Sandra's heart rate has significantly increased during physical activity.</b>
                            <div class=please-check-on>Please check on her immediately to ensure her safety.</div>
                            <div class=take-action-parent><b class=sandra-john-60-container>Take action</b> <img alt="" class=caretdown-icon5 src=CaretDown.png></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=frame-parent23>
            <div class=health-report-parent><b class=sandra-john-60-container>Geo Fencing</b> <img alt="" class=gearsix-icon src="../../assets/three-dots/DotsThreeVertical.svg"></div><img alt="" class=image-6-icon src="../../assets/image 6.svg">
            <div class=frame-parent24>
                <div class=frame-parent25>
                    <div class=normal-wrapper5>
                        <div class=normal>normal</div>
                    </div>
                    <div class=walking>Name</div>
                    <div class=date1>Date</div>
                    <div class=sandra-john-60-container>Prescription</div>
                </div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Main Street Park</div>
                        <div class=physiotherapist>Out of Bounds</div>
                    </div>
                    <div class=walking>12 Jul 24, 12:30</div>
                    <div class=filetext><img alt="" class=gearsix-icon src="../../assets/MapPinArea.svg"></div>
                </div>
                <div class=frame-child1></div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Shopping Mall</div>
                        <div class=physiotherapist>Boundary Exit</div>
                    </div>
                    <div class=walking>8 Jul 24, 17:45</div>
                    <div class=filetext><img alt="" class=gearsix-icon src="../../assets/MapPinArea.svg"></div>
                </div>
                <div class=frame-child1></div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Hospital Grounds</div>
                        <div class=physiotherapist>Restricted Area</div>
                    </div>
                    <div class=walking>11 Jul 24, 10:00</div>
                    <div class=filetext><img alt="" class=gearsix-icon src="../../assets/MapPinArea.svg"></div>
                </div>
            </div>
        </div>
        <div class=frame-parent29>
            <div class=health-report-parent><b class=sandra-john-60-container>Appointment History</b> <img alt="" class=gearsix-icon src="../../assets/three-dots/DotsThreeVertical.svg"></div>
            <div class=frame-parent15>
                <div class=frame-parent16>
                    <div class=normal-wrapper5>
                        <div class=normal>normal</div>
                    </div>
                    <div class=walking>Name</div>
                    <div class=date1>Date</div>
                    <div class=sandra-john-60-container>Prescription</div>
                </div>
                <div class=line-div></div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div><img alt="" class=man-438081-960-720-icon2 src="../../assets/man-438081_960_720 (2).svg">
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Dr. Marsh Key</div>
                        <div class=physiotherapist>Cardiologist</div>
                    </div>
                    <div class=walking>10 Jul 24</div>
                    <div class=filetext><img alt="" class=vector-icon src="../../assets/Vector_1.svg"></div>
                </div>
                <div class=frame-child1></div>
                <div class=man-438081-960-720-container>
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div><img alt="" class=man-438081-960-720-icon2 src="../../assets/man-438081_960_720 (1).svg">
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Dr. Lobo Mark</div>
                        <div class=physiotherapist>Physiotherapist</div>
                    </div>
                    <div class=walking>10 Jul 24</div>
                    <div class=filetext><img alt="" class=vector-icon src="../../assets/Vector_1.svg"></div>
                </div>
                <div class=frame-child1></div>
                <div class=man-438081-960-720-container><img alt="" class=man-438081-960-720-icon2 src="../../assets/man-438081_960_720.svg">
                    <div class=normal-wrapper6>
                        <div class=normal>normal</div>
                    </div>
                    <div class=dr-marsh-key-parent>
                        <div class=appointment>Dr. Dannis Lee</div>
                        <div class=physiotherapist>Nephrologist</div>
                    </div>
                    <div class=walking>10 Jul 24</div>
                    <div class=filetext><img alt="" class=vector-icon src="../../assets/Vector_1.svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>