 
    <div class=ipad-pro-11-48><img alt="" class=image-3-icon src="..\..\assets\image 3.svg">
        <div class=frame-parent>
            <div class=group-wrapper><img alt="" class=frame-child src="..\..\assets\Group 22.svg"></div>
            <div class=login-to-account-parent><b class=login-to-account>Login to Account</b>
                <div class=please-enter-your>Please enter your email and password to continue</div>
            </div>
            <div class=email>
                <div class=input></div><b class=email-address>Email address:</b>
                <div class=esteban-schillergma>esteban_schiller@gmail.com</div>
            </div>
            <div class=password>
                <div class=input1></div><img alt="" class=password-icon src=..\..\assets\Password.svg>
                <div class=password1>Password</div>
                <div class=forget-password>Forget Password?</div><b class=remember-password>Remember Password</b> <img
                    alt="" class=check-icon src=..\..\assets\Check.svg>
            </div>
            <div class=button-compose-message-parent>
                <div class=button-compose-message>
                    <div class=rectangle></div><b class=sign-in>Sign In</b>
                </div>
                <div class=button-compose-message>
                    <div class=rectangle1></div><b class=sign-in1>Fingerprint login</b>
                </div>
                <div class=create-new>
                    <div class=dont-have-an-container><span class=dont-have-an>Don’t have an account? </span><span
                            class=span></span></div><b class=create-account>Create Account</b>
                </div>
            </div>
            <div class=frame-item></div>
            <div class=loti>
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type=module></script>
                    
                    <iframe src="https://lottie.host/embed/aae3bf77-ef0c-4a55-a7e9-b3f47f9c404f/bqSXR77KRT.json"></iframe>
            </div>
        </div>
        <div class=dont-have-an-accoun-parent>
            <div class=dont-have-an1>Version 1.0.1</div>
            <div class=dont-have-an2>2024 Copyright. MyCareBuddy Pvt. Ltd.</div>
        </div>
    </div>