    <div class=ipad-pro-11-38>
        <div class=navigation-top-bar-1-parent>
            <div class=navigation-top-bar-1>
                <div class=textindent-parent><img alt="" class=textindent-icon src=\..\..\assets\TextIndent.svg> <img alt=""
                        class=frame-child src="Frame 584.svg"></div>
                <div class=search>
                    <div class=bg></div>
                    <div class=search1>Search</div><img alt="" class=search-icon src=\..\..\assets\search.svg>
                </div>
                <div class=frame-parent>
                    <div class=flag-parent><img alt="" class=flag-icon src=Flag.png>
                        <div class=english-parent>
                            <div class=english>English</div><img alt="" class=caretdown-icon src=\..\..\assets\CaretDown.svg>
                        </div>
                    </div>
                    <div class=icon><img alt="" class=icon1 src=icon.png> <img alt="" class=bellringing-icon
                            src=\..\..\assets\BellRinging.svg>
                        <div class=oval-parent><img alt="" class=oval-icon src=\..\..\assets\Oval.svg> <img alt="" class=oval-icon1
                                src=\..\..\assets\Oval.svg> <b class=b>6</b></div>
                    </div>
                    <div class=man-438081-960-720-parent><img alt="" class=man-438081-960-720-icon
                            src=man-438081_960_720.png> <img alt="" class=caretdown-icon src=\..\..\assets\CaretDown.svg></div><img
                        alt="" class=gearsix-icon src=\..\..\assets\GearSix.svg>
                </div>
                <div class=div></div>
            </div>
            <div class=frame-group>
                <div class=get-in-touch-with-us-parent><b class=get-in-touch>Get in touch with us</b>
                    <div class=how-to-get>How to get in touch with Dementia UK by phone, email, text or post.</div>
                </div>
                <div class=frame-container>
                    <div class=frame-wrapper>
                        <div class=chatdots-parent><img alt="" class=chatdots-icon src=\..\..\assets\ChatDots.svg>
                            <div class=virtual-assistant-parent><b class=virtual-assistant>Virtual Assistant</b>
                                <div class=if-you-need>If you need information, advice, and support with any aspect of
                                    dementia, please don’t hesitate to get in touch with one of our dementia specialist
                                    Admiral Nurses – we’re here to support you.</div>
                                <div class=frame-div>
                                    <div class=user-parent><img alt="" class=gearsix-icon src=\..\..\assets\User.svg>
                                        <div class=connect-live-agent>Connect Live Agent</div>
                                    </div>
                                    <div class=user-parent><img alt="" class=gearsix-icon src=\..\..\assets\FilePlus.svg>
                                        <div class=connect-live-agent>Create ticket</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=frame-wrapper1>
                        <div class=chatdots-parent><img alt="" class=chatdots-icon src=\..\..\assets\PhoneCall.svg>
                            <div class=virtual-assistant-parent><b class=if-you-need>Admiral Nurse Dementia Helpline</b>
                                <div class=for-immediate-assistance>For immediate assistance, our Admiral Nurse Dementia
                                    Helpline is available to provide expert advice and support. Reach out to our
                                    specialist nurses who are here to help with any dementia-related concerns.</div>
                                <div class=frame-parent1>
                                    <div class=frame-parent2>
                                        <div class=image-1-parent><img alt="" class=image-1-icon src="image 1.png">
                                            <div class=get-in-touch>Exercise Demo 1</div>
                                            <div class=get-in-touch>Exercise Demo 2</div>
                                        </div><img alt="" class=gearsix-icon src=\..\..\assets\PhoneCall.svg>
                                        <div class=helplinemycarebuddycom>0800 888 6678</div>
                                    </div>
                                    <div class=frame-parent2>
                                        <div class=image-1-parent><img alt="" class=image-1-icon src="image 1.png">
                                            <div class=get-in-touch>Exercise Demo 1</div>
                                            <div class=get-in-touch>Exercise Demo 2</div>
                                        </div><img alt="" class=gearsix-icon src=\..\..\assets\EnvelopeOpen.svg>
                                        <div class=helplinemycarebuddycom>helpline@mycarebuddy.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=frame-wrapper>
                        <div class=chatdots-parent><img alt="" class=chatdots-icon src=\..\..\assets\Headset.svg>
                            <div class=virtual-assistant-parent><b class=virtual-assistant>Contact us</b>
                                <div class=if-you-need>For general inquiries or additional support, please contact us
                                    using the information below or fill out our contact form. Our team is dedicated to
                                    providing the assistance you need.</div><b class=if-you-need>Dementia UK Head
                                    Office</b>
                                <div class=if-you-need>
                                    <p class=th-floor>7th Floor
                                    <p class=th-floor>One Aldgate
                                    <p class=th-floor>London
                                    <p class=th-floor>EC3N 1RE
                                </div>
                                <div class=frame-wrapper3>
                                    <div class=frame-parent2>
                                        <div class=image-1-parent><img alt="" class=image-1-icon src="image 1.png">
                                            <div class=get-in-touch>Exercise Demo 1</div>
                                            <div class=get-in-touch>Exercise Demo 2</div>
                                        </div><img alt="" class=gearsix-icon src=\..\..\assets\EnvelopeOpen.svg>
                                        <div class=helplinemycarebuddycom>Open contact form</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=frame-wrapper>
                        <div class=chatdots-parent><img alt="" class=chatdots-icon src=\..\..\assets\Hospital.svg>
                            <div class=virtual-assistant-parent><b class=virtual-assistant>Nearby Hospital Contact
                                    Details</b>
                                <div class=if-you-need>Find contact information for hospitals in your area that can
                                    provide additional support and services for dementia patients. Select a hospital
                                    from the dropdown list to view its address and contact number.</div>
                                <div class=dropdown-list-of-nearby-hospit-parent><b class=if-you-need>Dropdown List of
                                        Nearby Hospitals</b>
                                    <div class=sunnyvale-general-hospital-parent>
                                        <div class=sunnyvale-general-hospital>Sunnyvale General Hospital</div><img
                                            alt="" class=gearsix-icon src=\..\..\assets\CaretDown.svg>
                                    </div>
                                </div>
                                <div class=if-you-need>
                                    <p class=th-floor>123 Health St, Sunnyvale, CA 94086
                                    <p class=th-floor>Phone: (408) 555-1234
                                    <p class=th-floor>Email: info@sunnyvalegeneralhospital.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=frame-parent5>
                        <div class=frame-parent6>
                            <div class=usersound-parent><img alt="" class=chatdots-icon src=\..\..\assets\UserSound.svg> <b
                                    class=sunnyvale-general-hospital>
                                    <p class=th-floor>Quick connect with
                                    <p class=th-floor>family members
                                </b></div><img alt="" class=caretdown-icon3 src=\..\..\assets\CaretDown.png>
                        </div>
                        <div class=frame-parent6>
                            <div class=usersound-parent><img alt="" class=chatdots-icon src=\..\..\assets\PhoneCall.svg> <b
                                    class=sunnyvale-general-hospital>
                                    <p class=th-floor>Call for immediate
                                    <p class=th-floor>assistance
                                </b></div><img alt="" class=caretdown-icon3 src=\..\..\assets\CaretDown.png>
                        </div>
                    </div>
                </div>
                <div class=dont-have-an-accoun-parent>
                    <div class=dont-have-an>2024 Copyright. MyCareBuddy Pvt. Ltd.</div>
                    <div class=dont-have-an1>App Version 1.0.1</div>
                </div>
            </div>
        </div>
    </div>