   <div class=overlay>
   <div class=ipad-pro-11-45>
        <div class=ipad-pro-11-45-child></div>
        <div class=frame-parent>
            <div class=usersound-parent><img alt="" class=usersound-icon src=..\..\assets\UserSound.svg> <b
                    class=quick-connect-with>Quick connect with family members</b></div>
            <div class=man-438081-960-720-parent><img alt="" class=man-438081-960-720-icon src=..\..\assets\son.png>
                <div class=arlene-mccoy-parent><b class=quick-connect-with>Arlene McCoy</b>
                    <div class=son>Son</div>
                    <div class=son>22 yrs</div>
                </div>
                <div class=closed-meet><img alt="" class=icon-closed src="..\..\assets\Closed Meet.svg"></div>
            </div>
            <div class=man-438081-960-720-group><img alt="" class=man-438081-960-720-icon src=..\..\assets\Daughter.png>
                <div class=arlene-mccoy-parent><b class=quick-connect-with>Darlene Robertson</b>
                    <div class=son>Daughter</div>
                    <div class=son>24 yrs</div>
                </div>
                <div class=closed-meet><img alt="" class=icon-closed src="..\..\assets\Closed Meet.svg"></div>
            </div>
            <div class=man-438081-960-720-container><img alt="" class=man-438081-960-720-icon
                    src=..\..\assets\Husband.png>
                <div class=arlene-mccoy-parent><b class=quick-connect-with>Brooklyn Simmons</b>
                    <div class=son>Husband</div>
                    <div class=son>60 yrs</div>
                </div>
                <div class=closed-meet><img alt="" class=icon-closed src="..\..\assets\Closed Meet.svg"></div>
            </div>
            <button (click)="sendMessage()" style="background: none;cursor: pointer;border: none;">
            <img alt="" class=x-icon src=..\..\assets\X.svg></button>
        </div>
    </div>
</div>