<mat-sidenav #drawer class="sidenav" mode="side" closed>
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.close()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Menu</span>
  </mat-toolbar>
  <mat-nav-list>
    <a mat-list-item href="#">Edit Patient's routine</a>
    <a mat-list-item href="#">Add special Event</a>
    <a mat-list-item href="../../assets/lsb.pdf" target="_blank">View Life Story Book</a>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img src="assets/logo.svg" class="logo"  (click)="showChatBox()"></span>
    <span class="spacer"></span>
    <mat-menu #languageMenu="matMenu" >
        <button mat-menu-item (click)="toggleLanguage('English')">
          <img src="assets/flags/Flag.svg" alt="English" class="flag" >
          English
        </button>
        <button mat-menu-item (click)="toggleLanguage('French')">
          <img src="assets/flags/Flag.svg" alt="French" class="flag" >
          French
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="languageMenu" >
        <img src="assets/flags/Flag.svg" alt="English" class="flag">
        {{ selectedLanguage.toUpperCase() }}
      </button>

      <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" matTooltip="All Notifications" style="margin-left: 4%;">
        <mat-icon>notifications</mat-icon>
        <span class="notification-count">{{ getNotificationCount() }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #notificationsMenu="matMenu">
        <ng-container *ngFor="let notification of notifications">
          <button mat-menu-item (click)="hideNotification(notification.id)">
            {{ notification.message }}
          </button>
        </ng-container>
      </mat-menu>

      <button mat-icon-button (click)="openProfileDialog()" matTooltip="Settings" style="margin-left: 1%;">
        <mat-icon>settings</mat-icon>
      </button>

  </mat-toolbar>
  <!-- Add your main content here -->
  <div class="main-content">
    <div class=frame-parent *ngIf="showChatbox" (click)="handleClick($event)">
    <div class=warning-parent><img alt="" class="warning-icon" src="assets/Warning.svg">
      <div class=sandras-heart-rate-has-signif-wrapper>
        <div class=sandras-heart-rate-container>
          <p class=sandras-heart-rate-has-signif><b>Sandra's heart rate has significantly increased during physical activity.</b>
          <p class=sandras-heart-rate-has-signif>Please check on her immediately to ensure her safety.
        </div>
      </div>
    </div>
    </div>
    <div class=frame-group>
      <div class=wrapper><b class=b>4</b></div>
      <div class=critical-alerts-wrapper>
        <div class=b>Critical Alerts</div>
      </div>
    </div>
    <app-cardbox></app-cardbox>
   <mat-grid-list cols="6"  style="width: 96.7%;">
      <mat-grid-tile colspan="6" style="background-color: #fff4fb;margin-left: 15px; color: black;">
        <mat-tab-group >
          <mat-tab label="Daily Routine" > <div class="tab-content"><app-scheduler style="width: 10%;"></app-scheduler></div></mat-tab>
          <mat-tab label="DashBoard" > <div class="tab-content"><dashboard-new></dashboard-new></div></mat-tab>
        </mat-tab-group>
      </mat-grid-tile>
    </mat-grid-list> 
    
    
  </div>
  <app-footer></app-footer>
  
</mat-sidenav-content>