<div class="overlay">
    <div ></div>
<div class=update-routine-parent><b class=update-routine>Update routine</b>
    <div class=frame-wrapper>
        <div class=update-routine-physical-activity-parent><b class=update-routine-physical-activity>Physical Activity</b>
            <div class=update-routine-frame-child></div>
            <div class=update-routine-physical-activity><span>11:00 AM </span><span class=update-routine-span>-</span> <span>12:00 PM</span></div>
        </div>
    </div>
    <div class=update-routine-callbell-parent><img alt="" class=update-routine-callbell-icon src=CallBell.svg>
        <div class=update-routine-frame-container>
            <div class=update-routine-when-updating-the-physical-act-wrapper>
                <div class=update-routine-when-updating-the>When updating the physical activity task for a dementia patient, the caregiver should submit detailed information in the application for the doctor's records. Here’s a list of the essential updates that should be included:</div>
            </div>
        </div>
        <div class=update-routine-did-you-complete-the-activity-wrapper><b class=update-routine-did-you-complete>Did you complete the activity?</b></div>
        <div class=update-routine-frame-parent>
            <div class=update-routine-checkcircle-parent><img alt="" class=update-routine-checkcircle-icon src=CheckCircle.svg>
                <div class=update-routine-yes-completed>Yes, completed</div>
            </div>
            <div class=update-routine-checkcircle-group><img alt="" class=update-routine-checkcircle-icon src=CheckCircle.svg>
                <div class=update-routine-yes-completed>Partially completed</div>
            </div>
            <div class=update-routine-checkcircle-group><img alt="" class=update-routine-checkcircle-icon src=CheckCircle.svg>
                <div class=update-routine-no>No</div>
            </div>
        </div>
        <div class=update-routine-frame-group>
            <div class=update-routine-back-wrapper><b class=update-routine-back>Back</b></div>
            <div class=update-routine-next-wrapper><b class=back>Next</b></div>
        </div>
    </div>
</div>
</div>