
<div class=overlay>
    <div class=ipad-pro-11-43>
        <div class=ipad-pro-11-43-child></div>
        <div class=frame-parent>
            <div class=phonecall-parent><img alt="" class=phonecall-icon src="../../assets/PhoneCall.svg"> <b
                    class=calling-for-immediate>Calling for immediate assistance</b></div>
            <div class=group-parent><img alt="" class=frame-child src="../../assets/calling.png">
                <div class=calling-for-immediate>Calling....</div>
            </div>
            <div class=volume-parent>
                <div class=volume><img alt="" class=icon-sound src="../../assets/Icon - Sound.svg"></div>
                <div class=share-screen-parent>
                    <div class=volume><img alt="" class=icon-sound src="../../assets/Icon - Screen.svg"></div>
                    <div class=volume><img alt="" class=icon-sound src="../../assets/Icon - Voice.svg"></div>
                    <div class=closed-meet>
                        <button (click)="closeCall()" style="background: none;cursor: pointer;border: none;">
                            <img alt="" class=icon-closed src="../../assets/Icon - Closed.svg"></button>
                        </div>
                    <div class=volume><img alt="" class=icon-sound src="../../assets/Icon - Video.svg"></div>
                    <div class=volume><img alt="" class=icon-sound src="../../assets/Icon - Setting.svg"></div>
                </div>
                <div class=volume><img alt="" class=icon-sound src="../../assets/Icon - Fullscreen.svg"></div>
            </div>
        </div>
    </div>
    </div>