
    <div class=total-alerts-parent><b class=total-alert-sandra-john-60-container>Total alerts</b> <b class=total-alert-b3>4</b> <img alt="" class=total-alert-gearsix-icon src=DotsThreeVertical.svg></div>
    <div class=total-alert-frame-parent13>
        <div class=total-alert-tabs-group>
            <div class=total-alert-tabs3>
                <div class=total-alert-daily-routine-wrapper><b class=total-alert-daily-routine3>Critical Alert - 1</b></div>
                <div class=total-alert-tabs-item></div>
            </div>
            <div class=total-alert-tabs4>
                <div class=total-alert-daily-routine-wrapper>
                    <div class=total-alert-daily-routine3>Notification - 3</div>
                </div>
                <div class=total-alert-tabs-child></div>
            </div>
        </div>
        <div class=total-alert-high-heart-rate-sandras-hear-wrapper>
            <div class=total-alert-high-heart-rate-container>
                <p class=total-alert-sandra-john-60-yrs><b class=total-alert-sandra-john1>High Heart Rate</b> <span></span>
                    <p class=total-alert-sandra-john-60-yrs>Sandra’s heart rate rose above 121 BPM while she seemed to be inactive for 10 minutes starting at 9:59 AM.</div>
        </div>
    </div>
