
<div class=overlay>
<div class=ipad-pro-11-46>
    <div class=ipad-pro-11-46-child></div>
    <div class=frame-parent>
        <div class=bellsimpleringing-parent><img alt="" class=bellsimpleringing-icon src=..\..\assets\BellSimpleRinging.svg> <b class=emergency-alarm-to>Emergency alarm to notify nearby hospital</b></div>
        <div class=sealcheck-parent>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

        <iframe src="https://lottie.host/embed/3e4bad15-0007-470c-81d6-e3727ff09114/BufSMUqWUr.json"></iframe>        <div class=emergency-alert-has-container><span>Emergency alert has been sent to </span><b>Sunnyvale General Hospital</b> <span>. Medical professionals have been notified and are on their way.</span></div>
        </div> <button (click)="sendMessage()" style="background: none;cursor: pointer;border: none;">
            <img alt="" class=x-icon src=..\..\assets\X.svg></button>
        <div class=hospital-emergency-contact-container>
            <p class=hospital-emergency-contact-inf><b>Hospital Emergency Contact Information:</b>
                <p class=sunnyvale-general-hospital>Sunnyvale General Hospital
                    <p class=sunnyvale-general-hospital>123 Health St, Sunnyvale, CA 94086
                        <p class=hospital-emergency-contact-inf>Phone: (408) 555-1234 | Email: info@sunnyvalegeneralhospital.com</div>
        <div class=frame-group>
            <div class=whatsapplogo-parent><img alt="" class=whatsapplogo-icon src=..\..\assets\WhatsappLogo.svg>
                <div class=emergency-alarm-to>Whatsapp Share</div>
            </div>
            <div class=close-wrapper>
                <div class=emergency-alarm-to>Close</div>
            </div>
        </div>
    </div>
</div>
</div>