.scheduler {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
  }
  
  .date-picker-container {
    margin-bottom: 20px;
    width: 250px;
  }
  
  .schedule-card .task {
    margin-left: 20px;
    font-weight: bold;
  }
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .detail-activity {
    flex: 1;
    width: 70%;
  }
  
  .detail-tip {
    flex: 1;
    width: 70%;
    padding-left: 20px;
  }
  
  .suggest-section {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightcyan;
    color: black;
  }
  
  .suggest-section h3 {
    margin-top: 0;
  }
  
  
  .schedule-card {
    width: 100%;
    margin: 10px 0;
    background-color: white;
    color: black;
  }
  
  .expanded-card {
    margin-top: 10px;
    background-color: white;
    color: black;
  }

  .mat-card{
    width: 90%;
  }

  .mat-form-field{
    width: 10%;
  }

  .mat-datepicker-toggle{
    color:red;
 }

 .status-label {
  padding: 10px;
  margin: 5px 0;
  color: white; /* Assuming a light text color for dark backgrounds */
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
